<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find prob_rob_labs)/worlds/door.world" />

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="front_bumblebee2" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="false" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- Spawn Jackal -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="-1.5" />
    <arg name="y" value="0" />
    <arg name="z" value="0.2" />
    <arg name="yaw" value="0" />
    <arg name="config" value="$(arg config)" />
    <arg name="joystick" value="$(arg joystick)" />
  </include>

  <node pkg="image_view" type="image_view" name="left_image_view">
    <remap from="image" to="/front/left/image_raw"/>
  </node>

  <include file="$(find opencv_apps)/launch/goodfeature_track.launch">
    <arg name="max_corners" value="25"/>
    <arg name="image" value="/front/left/image_raw"/>
  </include>

  <include file="$(find prob_rob_labs)/launch/image_mean_feature_x.launch">
  </include>

</launch>
